<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create a tender</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create a tender</h1>
<a th:href="@{/tender/allActiveTenders}">Back to tender List</a>
<br/><br/>
<form th:action="@{/tender/createTender}"
      th:object="${tender}" method="POST">
    <table>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Description</td>
            <td>:</td>
            <td><input type="text" th:field="*{description}" /></td>
        </tr>
        <tr>
            <td>Start bet</td>
            <td>:</td>
            <td><input type="number" th:field="*{startBet}" /></td>
        </tr>
    </table>
    <input type="submit" th:value="Create" />
</form>
</body>
</html>